*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #938383;
}
header h1{
    font-family: Arapey;
}
nav{
    margin: 10px;
    width:100%;
    justify-content: center;
    font-family: sans-serif;
}
nav ul{
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-left: 100px;
    padding: 5px;
}
nav ul li a{
    display: block;
    text-decoration: aliceblue;
    color: blue;
    background-color: #fff;
    font-size: 22px;
}
nav ul li a:hover{
    background-color: #009;
    color:#fff;

}
main{
    float:left;
    width: 70%;
    min-height: 300px;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: #fff;
    box-sizing: border-box;
}
main section{
    margin-bottom: 30px;
    border-style: ridge;
    line-height: 1.6em;
}
main section article{
    margin-top: 30px;
    margin-bottom: 30px;
    border-style: dotted;
    line-height: 1.6em;
}
aside{
    margin-top: 10px;
    float:right;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
}
aside ul{
    padding: 20px;
    list-style: none;
}
footer{
    float: left;
    width:100%;
    background-color: lightskyblue;
    height: 70px;
    text-align: center;
}