*{
    padding: 0;
    margin:0;
}
body{
    border-top: black;
    border-style: solid;
    font-family:Palatino,serif;
    border-color: rgb(255, 255, 255);
    border-width: 3px;
    background-color: rgb(218, 233, 231);  
    font-size: large;  
}
body>p{
    color:black;
    background-color: black;
    font-size: medium;
    line-height: 20px;
    font-family:Palatino,serif;
}
body{
    display:flexbox;
    height:100%;
    width:100%;
    }
div{
    width: "200px";
    height:"100px";
    border: 10px;
    border-color: orange;
    padding: 20px;
    margin: 10px;
}
.p1{
    background-color: plum;
}
.first-para{
    font-size: x-large;
    color: tomato;
}

header{
     height:100px;
     padding: 8px;
     background-image:url('/images/download.jpg');
     background-repeat: no-repeat;
     font-family: 'Tapestry', cursive;
}
header > h1{
        text-align: center;
        color:rgb(255, 0, 0);
        font-family: 'Tapestry', cursive;
}
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
}
      
li {
        display: inline;
      }
nav {
    text-align: center;
    padding: 30px;
    height:30px;
   }
   nav ul a{
   text-decoration: none;
   font-size: 20px;
   margin: 15px;
   }
nav  a:hover{
     background-color: white; 
    } 

main{
    height: 70%;
    background-color: hsl(56, 100%, 50%);
    text-align: center;
    height:max-content; 
      }
h3{
    font-size: medium;
    color: rgb(255, 0, 0);
    text-align: center;
   
}
table,tr,td
{
  border:0;
}
img {
    border-radius: 8px;
  }
td h3{
    font-family:Papyrus,cursive;
}
 h3{
    font-size: large;
}